# Network RPCs
PROXY_ADMIN_OWNER=
DEPLOYER_KEY=

LOCAL_RPC_URL=
ARC_TESTNET_RPC_URL=
TRUSTED_SIGNER_ADDRESS= # BERT_trustedSigner address for deploy/config core

# Production/testnet USDC configuration
USDC_ADDRESS=
AUTHOR_MIN_STAKE_USDC=
VOTE_MIN_STAKE_USDC=
MAX_VOTE_AMOUNT_USDC=

VOTING_PROXY_ADDRESS=
IDEA_REGISTRY_PROXY_ADDRESS=
POP_VERIFIER_ADDRESS=
ROLES_REGISTRY_ADDRESS=


HUMAN_ONLY_VOTING=
HUMAN_ONLY_IDEA_CREATION=

# Proxy addresses for 'verify-proxies' script
ROLES=
REPUTATION=
VOTER=
IDEA=
FUNDING=
VOTING=
GRANT=
POP=
